- if @report.present?
  = form_tag('', method: :get, class: 'form-inline') do
    .form-group
      = label_tag 'code', 'Waluta:'
      = select_tag 'code', options_for_select(@codes, @selected_code), remote: true, class: 'form-control', id: 'reports-code'

    .form-group
      = label_tag 'type', 'Rodzaj raportu:'
      = select_tag 'type', options_for_select(@types, @selected_type), remote: true, class: 'form-control', id: 'reports-type'

    .form-group
      = label_tag 'year', 'Rok:'
      = select_tag 'year', options_for_select(@years, @selected_year), remote: true, class: 'form-control', id: 'reports-year'

  #show
    = render params[:type] || 'table'
- else
  .alert.alert-success Brak danych.